.label_font {
    font-size: 24px;
    font-weight: 600;
}

.table_create {
    margin-left: 10%;
}

.tr_create {
    padding: 6%;
}

.input_create {
    box-sizing: border-box;
    height: 3vh;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding: 2%;
}

.button_create {
    font-size: 24px;
    font-weight: 500;
    background: #219653;
    width: 20%;
}