{% extends 'core/base.html' %}

{% block content %}
    <script type="text/javascript">
        const url = '/sensor_data/';
        const url_robot = '/robot_data/';
        window.onload = function () {
            const chart_left = new CanvasJS.Chart("chart_left", {
                theme: "light1",
                animationEnabled: true,
                title: {
                    text: "Датчик левого борта",
                    fontFamily: "Roboto Slab",
                    fontSize: 22,
                },
                data: [{
                    type: "line",
                    dataPoints: {{ sensor_left | safe }}
                }]
            })
            chart_left.render();

            const chart_prim = new CanvasJS.Chart("chart_prim", {
                theme: "light1",
                animationEnabled: true,
                title: {
                    text: "Датчик переднего борта",
                    fontFamily: "Roboto Slab",
                    fontSize: 22,
                },
                data: [{
                    type: "line",
                    dataPoints: {{ sensor_prim | safe }}
                }]
            })
            chart_prim.render();

            const chart_right = new CanvasJS.Chart("chart_right", {
                theme: "light1",
                animationEnabled: true,
                title: {
                    text: "Датчик правого борта",
                    fontFamily: "Roboto Slab",
                    fontSize: 22,
                },
                data: [{
                    type: "line",
                    dataPoints: {{ sensor_right | safe }}
                }]
            })
            chart_right.render();

            function updateData(chart, sensor_type) {
                $.ajax({
                    url: `${url}?sensor_type=${sensor_type}`,
                    type: "GET",
                    dataType: "json",
                    success: (jsonResponse) => {
                        chart.options.data[0].dataPoints = jsonResponse;
                        chart.render();
                    }
                })
                setTimeout(updateData, 500, chart, sensor_type);
            }

            updateData(chart_left, 0);
            updateData(chart_prim, 1);
            updateData(chart_right, 2);

        }
        function updateBatt() {
                $.ajax({
                    url: `${url_robot}?robot={{ robot.id }}`,
                    type: "GET",
                    dataType: "json",
                    success: (jsonResponse) => {
                        console.log(jsonResponse);
                        const batt_el = document.querySelector('#robot_batt');
                        const batteryValue = typeof jsonResponse['battery'] === 'number' ? jsonResponse['battery'] : parseInt(jsonResponse['battery']);
                        if (batteryValue < 20) {
                            batt_el.style.color = 'red';
                        }
                        else {
                            batt_el.style.color = 'initial';
                        }
                        batt_el.textContent = `${jsonResponse['battery']}%`;

                    }
                })
                setTimeout(updateBatt, 2500);
            }
            updateBatt();
    </script>
    <div>
        <h1 class="heading">Робот №{{ robot.id }}</h1>
    </div>
    <div class="flex_block charts">
        <div class="chart" id="chart_left">
        </div>
        <div class="chart" id="chart_prim">
        </div>
        <div class="chart" id="chart_right">
        </div>
    </div>
    <div class="data_block">
        <div class="data">
            <table>
                <tr>
                    <td class="tr_ceil">IP-адрес:</td>
                    <td class="tr_ceil">{{ robot.ipaddr }}</td>
                </tr>
                <tr>
                    <td class="tr_ceil">Кодовое имя:</td>
                    <td class="tr_ceil">{{ robot.token }}</td>
                </tr>
                <tr>
                    <td class="tr_ceil">Заряд батареи:</td>
                    <td class="tr_ceil" id="robot_batt">{{ robot.battery__battery_num }}%</td>
                </tr>
            </table>
        </div>
        <div class="control_block">
            <button class="robot_button button_create button_control button_type" onclick="location.href = '/robot_bluetooth/{{ robot.id }}'">Ручной режим</button>
            <button class="robot_button button_create button_control">Автоматическое движение</button>
            <button class="robot_button button_create button_control button_delete" onclick="location.href = '/robot_delete/{{ robot.id }}'">Удалить из системы</button>
        </div>
    </div>
{% endblock %}


