<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="/static/core/css/main.css" rel="stylesheet"/>
    <link type="text/css" href="/static/core/css/index.css" rel="stylesheet"/>
    <link type="text/css" href="/static/core/css/robot_create.css" rel="stylesheet"/>
    <link type="text/css" href="/static/core/css/robot_charts.css" rel="stylesheet">
    <title>{{ title if title else "ИИСУ" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/core/js/canvasjs.min.js"></script>
    <script src="/static/core/js/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <div class="nav_color" style="display: flex; justify-content: space-between;">
        <p class="nav_bar__title nav_bar__el">ИИСУ Робототехнического ПАК</p>
        <p style="width: 65%;"></p>
        <p id="time" class="nav_bar__title nav_bar__el" >00:00</p>
    </div>
    <main class="content_block">
        <aside class="nav_bar">
            {% block mainmenu %}
                <div style="display: flex; flex-direction: column; align-content: space-evenly">
                    <div class="bar">
                        &nbsp;
                    </div>
                    <div>
                        <ul>
                            <li>
                                <div style="border: 1px solid #3354C8;">
                                    <a href="/robot_create/">
                                        <div class="li__block nav_bar__el ">
                                            <img width="20%" src="/static/core/images/manipulator.svg" alt="plus">
                                            <p>Робот-манипулятор</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div style="border: 1px solid #3354C8;">
                                    <a href="/">
                                        <div class="li__block nav_bar__el ">
                                            <img width="20%" src="/static/core/images/analyzer.svg" alt="plus">
                                            <p>ПМРА-IV анализатор</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div style="border: 1px solid #3354C8;">
                                    <a href="/robot_create/">
                                        <div class="li__block nav_bar__el ">
                                            <img width="20%" src="/static/core/images/manipulator.svg" alt="plus">
                                            <p>Камера LiDaR</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div style="border: 1px solid #3354C8;">
                                    <a href="/">
                                        <div class="li__block nav_bar__el ">
                                            <img width="20%" src="/static/core/images/analyzer.svg" alt="plus">
                                            <p>Колесный робот</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

            {% endblock %}
        </aside>
        <div class="content_body">

            {% block content %}
            {% endblock %}
        </div>
    </main>

</div>

</body>
</html>

<script>
    var time = setInterval(function() {
        var date = new Date();
        document.getElementById("time").innerHTML = (date.getHours() + ":" + date.getMinutes());
    }, 1000);
</script>
